body {
    /* background-color: #F4EBD9; */
    background-color: #fdf6e3;
}

/* MENU STYLING */
#menu {
    display: flex;
    position: sticky;
    height: 5%;
    background-color: #6E5E61;
    color: white;
    font-family: "Radio Canada", sans-serif;
    list-style-type: none;
}
.menu-items {
    margin: auto;
    color: white;
}

.menu-links:visited {
    text-decoration: none;
    color:#F4EBD9;
}

/* ABOUT ME STYLING */
#about {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
#pic-div {
    flex-basis: 40%;
    padding-right: 5%;
}
#pic {
    max-width: 100%;
}

h1 {
    font-size: 50px;
    font-family: "Radio Canada", sans-serif;
    margin-bottom: 2%;
}
h2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 30px;
    font-family: "Radio Canada", sans-serif;
}
.underline {
    text-decoration: underline;
    text-decoration-color: yellow;
}
#before-bio {
    color: rgb(98, 97, 97);
    font-size: large;
    font-family: "Radio Canada", sans-serif
}
.bio {
    font-size: large;
    font-family: "Radio Canada", sans-serif
}
.resume-contacts {
    display: flex;
    align-items: center;
}
#resumeButton {
    border-radius: 10%;
    border-width: 30%;
    font-size: medium;
    font-family: "Radio Canada", sans-serif
}
#icons {
    display: flex;
    padding-left: 20px;
}
i {
    margin-right: 40%;
}
@media screen and (max-width: 800px) {
    #about {
        justify-content: space-around;
    }}  
@media screen and (max-width: 500px) {
#about {
    flex-direction: column;
}}

/* CARDS STYLING */
.card-row {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-right: 3%;
    height: 250px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
    transition: 0.3s;
    width: 40%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 7%;
}
.card-info {
    font-size: large;
    font-weight: 400;
    font-family: "Radio Canada", sans-serif
}

a {
    text-decoration: none;
    color: black;
}

#poem {
    text-align: center;
    font-family: "Radio Canada", sans-serif
}

footer {
    text-align: center;
    font-family: "Radio Canada", sans-serif;
    background-color: #6E5E61;
    color: white;
}

.bio-links {
    padding: 15%;
}

@media screen and (max-width: 500px) {
    .card-row {
        flex-direction: column;
    }
    .card {
        height: 200px;
        width: 200px;
        padding: 10px;
        margin-left: 20%;
        margin-bottom: 10%;
    }
    .card-pic {
        height: 100px;
        width: 100px;
    }
    
}